* {
    box-sizing: border-box;
}
body,
h1,
h2,
span {
    margin: 0;
    padding: 0;
}

body {
    font: 30px/1.5 Arial, "宋体", sans-serif;
    background: #fff;
}
h1 {
    font-size: .75em;
}

h2 {
    font-size: .6em;
}
p {
    font-size: .5em;
}

span {
    font-weight: 800;
}

.info-wrap p,
.contact-wrap p {
    display: inline-block;
    margin-right: 20px;
}

/* .skill-wrap span,
.edu-wrap span,
.experience-wrap span {
  display: block;
} */

.resume {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.resume-title {
    padding: .6em;
    color:#fff;
    background-color: #666;
    flex-basis: 20%;
}

[class$=wrap] {
    display: flex;
    border: 1px solid #ccc;
}

.wrap-title {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
